.Rbuildignore
.deploy-wordpress-localhost.Rproj
.Rproj.user
.Rhistory
.RData
.DS_Store
!wordpress/.keep
!mysql/.keep
mysql/*
logs/nginx/*
!logs/nginx/.keep
_trash
*.Rproj
wordpress/wp-content/debug.log
wordpress/wp-content/cache
wordpress
wordpress/*
export.sql
export.sql.zip